Source: ros-humble-hunter-unitree-ros2
Section: misc
Priority: optional
Maintainer: kaylor <kaylor.chen@qq.com>
Build-Depends: debhelper (>= 9.0.0), nlohmann-json3-dev, ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-std-msgs, ros-humble-unitree-api
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-hunter-unitree-ros2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-std-msgs, ros-humble-unitree-api
Description: TODO: Package description
